{% extends 'base.html' %}
{% load static %}

{% block title %}Página Virada Store{% endblock %}

{% block content %}

<!-- MENSAGENS -->
{% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}


<!-- BANNER -->
<div class="container my-4">
  <div class="rounded overflow-hidden shadow-sm border">
    <img src="{% static 'forum/img/banner01.png' %}" alt="Banner de Ofertas"
         class="img-fluid d-block mx-auto"
         style="max-height: 400px; object-fit: cover; width: 100%;">
  </div>
</div>

<!-- CONTEÚDO PRINCIPAL -->
<main class="flex-grow-1">
  <div class="container mt-4">
    <h2 class="mb-4">Mais Vendidos &gt;</h2>
    <div class="row row-cols-2 row-cols-md-5 g-3 mb-4">
      {% for livro in mais_vendidos %}
        <div class="col">
          <div class="card h-100 position-relative">
            <div class="position-absolute top-0 start-0">
              <div class="ranking-flag bg-primary text-white fw-bold px-2 py-1 rounded-end">#{{ forloop.counter }}</div>
            </div>
            <img src="{{ livro.imagem }}" class="card-img-top" alt="{{ livro.titulo }}">
            <div class="card-body text-center">
              <h6 class="card-title mb-1">{{ livro.titulo }}</h6>
              <p class="text-success fw-bold">R$ {{ livro.preco }}</p>
              <a href="{% url 'detalhes_livro' livro.id %}" class="btn btn-sm btn-outline-secondary mt-2">Ver Detalhes</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="text-center mb-5">
      <a href="{% url 'mais_vendidos' %}" class="text-primary fw-bold">Ver mais &gt;</a>
    </div>

    <h2 class="mb-4">Recomendações &gt;</h2>
    <div class="row row-cols-2 row-cols-md-5 g-3 mb-4">
      {% for livro in ver_recomendados %}
        <div class="col">
          <div class="card h-100 position-relative">
            <div class="position-absolute top-0 start-0">
              <div class="ranking-flag bg-success text-white fw-bold px-2 py-1 rounded-end">#{{ forloop.counter }}</div>
            </div>
            <img src="{{ livro.imagem }}" class="card-img-top" alt="{{ livro.titulo }}">
            <div class="card-body text-center">
              <h6 class="card-title mb-1">{{ livro.titulo }}</h6>
              <p class="text-success fw-bold">R$ {{ livro.preco }}</p>
              <a href="{% url 'detalhes_livro' livro.id %}" class="btn btn-sm btn-outline-secondary mt-2">Ver Detalhes</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="text-center mb-5">
      <a href="{% url 'ver_recomendados' %}" class="text-primary fw-bold">Ver mais &gt;</a>
    </div>

    <div class="text-center mt-5">
      <a href="{% url 'categorias' %}" class="btn btn-primary">Ver Categorias de Livros</a>
    </div>
  </div>
</main>

{% endblock %}
